@model IEnumerable<SS.Annotator.Models.TextResource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnotationMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnotationMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TextResourceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TextResourceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TextResourceId })
        </td>
    </tr>
}

</table>
